[submodule "android-ifaddrs"]
	path = app/jni/android-ifaddrs
	url = https://github.com/PurpleI2P/android-ifaddrs.git
[submodule "i2pd"]
	path = app/jni/i2pd
	url = https://github.com/PurpleI2P/i2pd.git
	branch = openssl
[submodule "miniupnp"]
	path = app/jni/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "openssl"]
	path = app/jni/openssl
	url = https://github.com/openssl/openssl.git
[submodule "boost"]
	path = app/jni/boost
	url = https://github.com/moritz-wundke/Boost-for-Android.git
